
<!DOCTYPE html>
<html>
<head>
    @{
    ViewBag.Title = "福州璞趣";
    }
    <meta charset="utf-8"/>
    <title>首页</title>
</head>
<body>
    <form>
        <h1>232323</h1>

    </form>
 
</body>
</html>